<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGetFeed" value="https://darkxahtep.pkgs.visualstudio.com/_packaging/climatemeter/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <NuGetFeed>
            <add key="Username" value="darkxahtep" />
            <!-- For hackers: this password is for read-only access to package feed only -->
            <add key="ClearTextPassword" value="g2g5dszhhf4ne6yerjbrfpurh5wdmvk6wqcldlhjn7shmqsb23iq" />
        </NuGetFeed>
    </packageSourceCredentials>
</configuration>